html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #a6cfe5;
}

header {
  height: 61%;
  width: 100%;
}

header #logo {
  display: block;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  z-index: 1;
}

header #mountain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62%;
  z-index: -1;
}

#items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52%;
  width: 100%;
}

#items div {
  width: 33.33%;
  text-align: center;
  color: white;
  background-color: #c8e2f1;
}

#items div img {
  padding-top: 10%;
  width: 29%;
}

#items div h6 {
  margin: 4% 0% 6% 0%;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
}

#items div p {
  padding: 0% 8%;
  color: whitesmoke;
  font-size: 22px;
  word-spacing: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

#fiftyShadesofBlue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47%;
  width: 100%;
}

#fiftyShadesofBlue #blue1 {
  background-color: #e0eef6;
}

#fiftyShadesofBlue #blue2 {
  background-color: #b9d9ea;
}

#fiftyShadesofBlue #blue3 {
  background-color: #a5cee5;
}

#fiftyShadesofBlue #blue4 {
  background-color: #91c3df;
}

#fiftyShadesofBlue div {
  width: 25%;
  color: white;
}

#fiftyShadesofBlue div h6 {
  margin-top: 1%;
  margin-bottom: 16%;
  text-align: right;
  font-size: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
}

#fiftyShadesofBlue div h6 span {
  display: block;
  font-size: 45px;
  padding-right: 2%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
}

#fiftyShadesofBlue div p {
  font-family: 'Roboto Condensed', sans-serif;
  color: whitesmoke;
  padding: 0% 10%;
  font-size: 22px;
  font-weight: 300;
  word-spacing: 2px;
}

#carousell {
  position: relative;
}

#carousell #paysage {
  z-index: -1;
  width: 100%;
}

#carousell #back {
  position: absolute;
  left: 1%;
  bottom: 50%;
  width: 5%;
}

#carousell #next {
  position: absolute;
  right: 1%;
  bottom: 50%;
  width: 5%;
}

#inscription {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a5cee5;
}

#inscription label {
  padding: 2% 0% 2% 0%;
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

#inscription div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#inscription div input {
  width: 25%;
  height: 90%;
  margin: 0% 2% 2% 0%;
  border-radius: 5%;
  border: none;
  font-size: 20px;
  padding-left: 2%;
}

#inscription div input input::-webkit-input-placeholder {
  color: grey;
}

#inscription div input input:-ms-input-placeholder {
  color: grey;
}

#inscription div input input::-ms-input-placeholder {
  color: grey;
}

#inscription div input input::placeholder {
  color: grey;
}

#inscription div button {
  width: 10%;
  height: 90%;
  border-radius: 5%;
  background-color: #378bba;
  color: white;
  font-size: 20px;
  font-weight: 300;
  border: none;
}

footer {
  background-color: #7db8d9;
  height: 7%;
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
  padding-top: 2%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 0;
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */